.text-block{
  top:10% !important
}
/* .fa-gozluk{
  background-image: url("/front/images/gozluk.png");
  background-position: 2px 2px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 24px; // İconların Yüksekliği
  line-height:24px;
} */
.btn-purple{color:#fff;background-color:#702376;border-color:#702376;}.btn-purple.focus,.btn-purple:focus{color:#fff;background-color:#411944;border-color:#411944}.btn-purple:hover{color:#fff;background-color:#411944;border-color:#411944}.btn-purple.active,.btn-purple:active,.open>.dropdown-toggle.btn-purple{color:#fff;background-color:#411944;border-color:#411944}.btn-purple.active.focus,.btn-purple.active:focus,.btn-purple.active:hover,.btn-purple:active.focus,.btn-purple:active:focus,.btn-purple:active:hover,.open>.dropdown-toggle.btn-purple.focus,.open>.dropdown-toggle.btn-purple:focus,.open>.dropdown-toggle.btn-purple:hover{color:#fff;background-color:#ac2925;border-color:#761c19}.btn-purple.active,.btn-purple:active,.open>.dropdown-toggle.btn-purple{background-image:none}.btn-purple.disabled.focus,.btn-purple.disabled:focus,.btn-purple.disabled:hover,.btn-purple[disabled].focus,.btn-purple[disabled]:focus,.btn-purple[disabled]:hover,fieldset[disabled] .btn-purple.focus,fieldset[disabled] .btn-purple:focus,fieldset[disabled] .btn-purple:hover{background-color:#d9534f;border-color:#d43f3a}

.products-grid .item{
  height: 350px;
}
#carousel-example-generic{
  border: 0px;
}
@media (min-width:768px){
  .modal-dialog{
    width:1000px !important;
  }
}
